<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="https://indutel.pe/">
                <div class="logo">
                    <img class="logo-size" src="../img/logo_atsa.png">
                </div>

            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>INDUTEL©</h3>
                        <p>Sección de Registro</p>
                        <div class="page-links">
                            <a href="login.html" class="active">Login</a>
                            <a>|</a>
                            <a href="register.html">Registrar</a>
                        </div>
                        <form>
                            <input class="form-control" type="text" name="username" placeholder="Correo" required=""
                                class="activo">
                            <input class="form-control" type="password" name="password" placeholder="Contraseña"
                                required="">
                            <input class="form-control" type="password" name="password" placeholder="Validar Contraseña"
                                required="">
                            <div class="form-button">
                                <button id="submit" type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>